body {
  background:#ffffff;
}

.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 360px);
}

.login-box {
  position: relative;
  width: 400px;
}

.login-box h1 {
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 7px 0;
  font-size: 14px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  outline: 1px solid #bfbfbf;
  background: transparent;
}

.login-box .button_1{
    background: #4f4242;
  	padding: 7px 20px;

  }

.login-box .button_2{
     background: #a4907c;
     padding: 7px 20px;
   }


.login-box .button_1:hover,
button:hover,
input[type="button"]:hover {
   background: var(--deep-brown);
}

.login-box .button_1:active,
button:active,
input[type="button"]:active {
   background: var(--deep-brown);
}

.login-box .button_2:hover,
button:hover,
input[type="button"]:hover {
   background: var(--deep-brown);
}

.login-box .button_2:active,
button:active,
input[type="button"]:active {
   background: var(--deep-brown);
}

