header#core {
  background-color: var(--deep-brown);
  display: grid;
  height: 160px;
  padding: 3rem 3rem 1rem 3rem;
  box-shadow: 0px 0px 20px #aaaa;
  grid-template-rows: 1fr 6.6rem;
  margin-bottom: 8rem;
}

header#core ul.menu_wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 3rem;
}

header#core .menu_wrapper li {
  cursor: pointer;
  position: relative;
}

header#core button{
    width: inherit;
    background: transparent;
  	padding: 7px 20px;
    font-size: 3rem;
    cursor: pointer;
    color: var(--beige-01);
    font-weight: 500;
  }

header#core button.active{
  color: white;
}

header#core a#logo img {
  width: 120px;
}

header#core a#logo {
  width: fit-content;
}

